<div class="container">
  @if(wish.length === 0){
    <p>No wishes :(</p>
  }
  @else {
  <ul class="wish-list">
    @for (item of wish; track wish; let index = $index) {
    <li>
      <div class="form-check">
        <label class="form-check-label">
          <input 
          type="checkbox" 
          class="checkbox" 
          [checked]="item.isComplete"
          [attr.data-index]="index"
          (click)="toogleWish(item)"
          > {{item.wishText}}
        </label>
      </div>
    </li>
  }
  </ul>
}
</div>