<div class="container">
  <form class="row mt-3 gx-3 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="specificSizeInputName" class="visually-hidden">Wish</label>
      <input type="text" name="wish-text" class="form-control" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button type="submit"
       class="btn btn-primary"
       (click)="addWish(); $event.preventDefault()"
       >Add Wish</button>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-sm-2">
      <select class="form-select"
      [(ngModel)]="wishFilter"
      >
        <option value="0">All</option>
        <option value="1">Completed</option>
        <option value="2">Uncompleted</option>
      </select>
    </div>
  </div>

  <div class="row mt-3">
  @if(items.length === 0){
    <p>No wishes :(</p>
  }
  @else {
  <ul class="wish-list">
    @for (item of items; track item; let index = $index) {
    <li>
      <div class="form-check">
        <label class="form-check-label">
          <input 
          type="checkbox" 
          class="checkbox" 
          [checked]="item.isComplete"
          [attr.data-index]="index"
          (click)="toogleWish(item)"
          > {{item.wishText}}
        </label>
      </div>
    </li>
  }
  </ul>
}
</div>
</div>